[submodule "django-plantgrower"]
	path = django-plantgrower
	url = https://github.com/ConnorWilliams/django-plantgrower.git
[submodule "raspberrypi_iot_plantgrower"]
	path = raspberrypi_iot_plantgrower
	url = https://github.com/ConnorWilliams/raspberrypi_iot_plantgrower.git
